<section ng-controller="HomeController">
  <div class="jumbotron">
    <h1>The most powerful search engine</h1> <h4>after google</h4>
  </div>
  <div class="text-center">
    <br>
    <div class="row">
      <div class="form-group">
        <input class="form-control" ng-model="val" placeholder="What do you want to search today?">
      </div>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="#" ng-click="search()">Search</a>
      </p>
    </div>
  </div>
  <div class="list-group">
    <a data-ng-repeat="review in result" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="review.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="review.user" data-ng-bind="review.user.displayName"></span>
        <span data-ng-if="!review.user">Anonymous User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="review.name"></h4>
    </a>
  </div>

</section>
